{{#username}}
Welcome, {{username}}!<br>
<form action = "create-message" method="post">
    <input type="hidden" name = "replyId" value="{{replyId}}"/>
    <input type = "text" name = "text" placeholder="Write a Message" size="50"/>
    <button type="submit">Submit</button>
</form>
{{/username}}

{{^username}}
<form action = "login" method = "post">
    <input type = "text" placeholder="Username" name = "username" size="25"/>
    <input type = "password" placeholder="password" name = "password" size="25"/>
    <button type="submit">Login</button>
</form>
{{/username}}